.circle{
    display: inline-block;
    height:150px;
    width: 150px;
    border-radius: 50%;
    margin:2rem;
    box-shadow: 0 0 15px #333;
    cursor: pointer;
}

.color1 {
    background-color: #05A1FB;
}

.color2 {
    background-color: #0905fb;
}

.color3 {
    background-color: #8987ee;
}

.color4 {
    background-color:#3a88ee;
}

.circle.active {
    background-color: #f0dfdf; /* define here if eg. image used on active (as background image) */
}


@media (max-width: 576px) {
    .circle{
        height:100px;
        width: 100px;
    }
}