.overlay {
    position:fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgba(4, 9, 26, 0.7);
}

.gameOverBox {
    background-color: rgb(167, 182, 211);
    width: 40%;
    min-height: 30%;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
}

.gameOverBox h2, .gameOverBox p {
    color: rgb(3, 3, 71);
}

.gameover_box button {
    position: absolute;
    top: 5px;
    right: 5px;
}

@media (max-width: 576px) {
    .gameOverBox {
        width: 60%;
    }
}