/* Use of  Google fonts in React: as @import + font-family in body */
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Nova Mono', monospace;
  background: url('./assets/owlBg.svg') no-repeat
  fixed center center/cover;
  background-attachment: fixed;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-weight: bold;
  font-size: 1.5rem;
}

button {
  font-family: inherit;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 0 0 10px #6c6d70;  
  text-transform: uppercase;
  background-color: rgb(31, 165, 165);
}




