* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header, Footer */
header, footer {
  background-color: #1d1d1d;
  color: white;
  padding: 2rem;
}

nav ul li {
  display: inline-block;
  padding: 1rem;
}

/* Jumbotron */
.homePage {
  background-image: url("https://source.unsplash.com/1600x900/?winter");
  background-size: cover;
  height: 90vh;
}

main {
  padding: 2rem;
}

a {
  color: white;
}

span {
  color: teal;
  font-weight: bold;
}

.BlogCard {
  /* width: 1000px;  
  background: #eee;
  padding: 1rem; */
  margin: 1rem;
  display: inline-block;
}

.BlogCard img {
  width: 100%;
  max-height: 150px;
}

.newPost div {
  margin: 1rem;
}

.newPost label {
  width: 200px;
  display: inline-block;
}

.newPost input,
.newPost textarea {
  max-width: 400px;
  border: 1px solid rgb(99, 99, 99);
  /* padding: 0.5rem; */
  font-size: 0.8rem;
}

/* .newPost button {
  width: 200px;
  border: none;
  background-color: #02630d;
  padding: 1rem;
  text-transform: uppercase;
  color: white;
} */
