* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --colorSilver: #B9BBBE;
  --colorDarkGreen: #362F1F;
  --colorLightGreen: #67654F;
  --colorBrown: #634635;
  --colorRed: #821F18;
  --colorDark: #20160E;
}

/* Header, Footer */
header, footer {
  background-color: var(--colorDarkGreen);
  color: var(--colorSilver);
  padding: 2rem;
}

nav ul li {
  display: inline-block;
  padding: 1rem;
}

/* Jumbotron */
.jumbotron {
  background: url("https://source.unsplash.com/VDXtVYJVj7A") fixed center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin-bottom: 0;
  color: var(--colorDark)
}

.button {
  background-color: var(--colorLightGreen);
  color: var(--colorSilver);
  border: none;
  padding: 0.5rem 1rem;
}

/* 
.hero{
  background-position: center;

  
  display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -2; opacity: 0.4;
} */

/* main {
  padding: 2rem;
} */

a {
  color: white;
}

span {
  color: teal;
  font-weight: bold;
}

.BlogCard {
  /* width: 1000px;  
  background: #eee;
  padding: 1rem; */
  margin: 1rem;
  display: inline-block;
}

.BlogCard img {
  width: 100%;
  max-height: 150px;
}

.newPost div {
  margin: 1rem;
}

.newPost label {
  width: 200px;
  display: inline-block;
}

.newPost input,
.newPost textarea {
  max-width: 400px;
  border: 1px solid rgb(99, 99, 99);
  /* padding: 0.5rem; */
  font-size: 0.8rem;
}

/* .newPost button {
  width: 200px;
  border: none;
  background-color: #02630d;
  padding: 1rem;
  text-transform: uppercase;
  color: white;
} */
