* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --colorWhite: #FFFFFF;
  --colorAHover: #ced4dd;
  --colorHeaderFooter: #611e14;
  --colorLightGreen: #737c5e;
  --colorRed: #821F18;
  --colorDark: #20160E;

}

main {
  background-color: var(--colorAHover);
}

h1, h2, p, label, input {
  color: var(--colorDark);
  padding-top: 1rem;
}

p{
  font-weight: bold;
}

a, .btn {
  color: var(--colorWhite);
  font-weight: bold;
}

a:hover {
  color: var(--colorAHover);
}

.btn {
  background-color: var(--colorLightGreen);
  border: none;
}

.btn:hover {
  background-color: var(--colorRed);
  color: var(--colorWhite);
  text-decoration: none;
}

/* Header, Footer */
header, footer {
  background-color: var(--colorHeaderFooter);
  padding: 2rem;
  height: 120px;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

footer p {
  color: var(--colorWhite);
}

nav ul li {
  display: inline-block;
  padding: 1rem;
}

/* Jumbotron */
.jumbotron {
  position: relative;
  background: url("https://source.unsplash.com/VDXtVYJVj7A") fixed center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: var(--colorDark);
}

.jumbotron-container {
  position: absolute;
  top: 200px;
}

span {
  color: teal;
  font-weight: bold;
}

.card {
  display: inline-block;
  border: 2px solid var(--colorLightGreen)
}

.card img {
  width: 100%;
}

.card-header {
  border: none;
}

.card-body {
  color: var(--colorDark);
}

.newPost div {
  margin: 1rem;
}

.newPost label {
  width: 200px;
  display: inline-block;
  font-size: 1.2rem;
}

.newPost input,
.newPost textarea {
  width: 500px;
  max-width: 80vw;
  border: 1px solid rgb(99, 99, 99);
  font-size: 1rem;
}

/* SuccessMessage */

.alert {
  position: fixed;
  top: calc(20% + 120px);
  background-color: var(--colorLightGreen)
} 

.alert-heading {
  color: var(--colorDark);
}

.closeBtn {
  background-color: var(--colorHeaderFooter);
}
