.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  font-family: var(--basic-font);
  padding: 2rem;
}

.App h1{
  color: var(--light-color)
}

label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

/* Prevents number input having small arrows */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input, textarea, select, option {
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1rem;
  width: 300px;  
}



