@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Sansita+Swashed:wght@300&display=swap');

:root {
  --basic-font: 'Noto Sans JP', sans-serif; 
  --view-input-font: 'Sansita Swashed', cursive;
  --dark-color: rgb(3, 25, 39);
  --light-color: white;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
