@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Sansita+Swashed:wght@300&display=swap');

.view {
  padding: 2rem;
}

.notepad {
  background: #f4f4f4;
  margin: 1rem 0;
  position: relative;
  box-shadow: 0 0 5px rgb(121, 121, 121);
}

.notepad::before {
  content: "";
  width: 2px;
  height: 100%; 
  border-left: solid 2px rgb(48, 146, 80); 
  position: absolute;
  left: 35px;
}

.notepad p {
  padding: 1rem;
  border-bottom: 3px dotted #cecece; 
  text-indent: 50px;
}

.notepad span {
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.5rem;
  margin-left: 15px;
}

#lastRow {
  border-bottom: none;
}
